.nav-link {
  cursor: pointer;
  padding: 32px 20px;
  border-radius: 8px;
  display: block;
  width: 65%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  box-shadow: 0 4px 20px #0000001a;
  background-color: #000;
}

.nav-link:hover {
  background-color: #000;
  transform: scale(0.9);
  transition: all 0.5s ease-in;
}

.nav-link.active {
  background-color: #1b55f5;
  color: #fff;
  box-shadow: 20px 20px 32px #1b55f51a;
}
