.nav-link {
  cursor: pointer;
  padding: 14px 2px;
  display: block;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  flex-direction: column;
  font-size: 0.75rem;
  font-weight: 400;
  background-color: #1b55f500;
  border-radius: 4px;
}

.nav-link:hover {
  background-color: #000;
  transform: scale(0.9);
  transition: all 0.5s ease-in;
}

.nav-link.active {
  border-right: 4px solid #1b55f5;
  color: #fff;
  background-color: #000;
}
